.register {
	width: 300px;
	min-height: 400px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 200px;
}

.register .center {
	display: flex;
	justify-content: center;
}

.register .errorMessage {
	color: red;
	font-family: inherit;
	font-size: 16px;
	margin-bottom: 5px;
}

.register .login-label {
	color: grey;
	font-family: inherit;
	font-size: 18px;
	margin-top: 10px;
}